/* General and reset - Resetuje osnovna podešavanja */
*{
  margin: 0; /* Uklanja margine sa svih elemenata */
  padding: 0; /* Uklanja razmake sa svih elemenata */
  box-sizing: border-box; /* Postavlja način računanja veličine elemenata da uključuje marginu i padding */
}
html,body{
  height: 100%; /* Postavlja visinu tela i html elementa na 100% */
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Postavlja font za telo stranice */
  color: #333; /* Postavlja osnovnu boju teksta */
  position: relative;
}

/* Header - Stilizuje gornji deo stranice (zaglavlje) */
.header {
  position: relative; /* Postavlja poziciju zaglavlja kao relativnu kako bi se moglo pozicionirati u odnosu na roditeljski element */
  background: transparent; /* Pozadina zaglavlja je providna */
  z-index: 10; /* Postavlja z-index kako bi header bio iznad drugih elemenata */
}

.header .logo{
  float: left; /* Pomera logo u levi ugao */
  font-size: 36px; /* Postavlja veličinu fonta za logo */
  padding: 10px; /* Dodaje padding oko logo teksta */
}
.header .logo a{
  color: #fff; /* Postavlja boju linka na belu */
}
.header .logo a span{
  color: #f00; /* Postavlja boju dela teksta unutar linka na crvenu */
}
.header .nav{
  float: right; /* Pomera navigaciju na desnu stranu */
}
.header .nav ul li{
  float: left; /* Postavlja stavke menija u red sa leve strane */
  padding: 20px; /* Dodaje padding oko stavki menija */
}
.header .nav ul li a{
  color: #fff; /* Postavlja boju linkova u meniju na belu */
  font-size: 24px; /* Postavlja veličinu fonta za linkove */
}
.header .nav ul li a:hover{
  color: #f00; 
}
/* Sub-menu */
.main-menu-li{
  position: relative;
  
}
.submenu{
  opacity: 0;;
  width: 98px;
  height: 200px;
  background-color: rgba(83, 82, 82, 0.1); /* Poluprovidna siva */
  backdrop-filter: blur(5px); /* Zamućuje sadržaj iza elementa */
  position: absolute;
  border-radius: 8px;
  transition: all .5s;
}
.header .nav .submenu li a{
  font-size: 18px;
}
.main-menu-li:hover .submenu{
  opacity: 1;
  
}
/* .main-menu-li:hover.submenu{
  display: block;
} */
/* End of Sub-menu */

/* Jumbotron - Velika pozadinska slika sa tekstom koji je u prvom planu */
.jumbotron {
  height: 100vh; /* Postavlja visinu jumbotrone na 100% visine ekrana */
  background-image: linear-gradient(rgba(49, 43, 35, 0.3), rgba(0, 0, 0, 1)), url("../image/crie\ a\ sua\ cafeteria.jpeg"); /* Pozadina sa gradijentom i slikom */
  background-size: cover; /* Slika se proteže preko celog ekrana */
  background-position: center; /* Pozicionira sliku u centar */
  position: relative; /* Omogućava pozicioniranje drugih elemenata unutar jumbotrone */
  top: -80px; /* Pomera jumbotron prema gore */
  z-index: 5; /* Postavlja z-index kako bi bio ispod zaglavlja */
}
.jumbotron h1{
  color: #ffffff; /* Postavlja boju naslova na belu */
  font-size: 34px; /* Veličina fonta za naslov */
  text-align: center; /* Centriranje teksta */
  position: absolute; /* Pozicionira naslov apsolutno unutar jumbotrone */
  top: 50%; /* Postavlja naslov vertikalno u sredinu */
  left: 50%; /* Postavlja naslov horizontalno u sredinu */
  transform: translate(-50%, -100%); /* Pomera naslov za tačno pozicioniranje u centar */
}
.jumbotron h1 span{
  color: #f00; /* Boja za deo naslova (span) je crvena */
  font-size: 80px; /* Veličina fonta za span je veća */
}

/* Main Section - Glavni deo stranice sa pozadinskom slikom */
.main{
  width: 100%; /* Postavlja širinu glavnog dela na 100% */
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("../image/main-image.jpeg"); /* Pozadina sa gradijentom i slikom */
  background-size: cover; /* Slika se proteže preko celog ekrana */
  background-position: center;
  margin-top: -80px; /* Uklanja dodatni razmak između jumbotrona i glavnog dela */
}

/* container-cards - Kontejner za kartice sa informacijama */
.container-cards{
  width: 100%; /* Postavlja širinu na 100% */
}

/* CSS .container sam povukao iz HELPERS-a  */

.container-cards h2{
  text-align: center; /* Centriranje naslova */
  font-size: 30px; /* Veličina fonta za naslov */
}
.container-card-holder{
  padding: 10px; /* Dodaje padding unutar kartica */
  float: left; /* Stavke unutar kontejnera su raspoređene horizontalno */
  width: 33.3333%; /* Svaka kartica zauzima trećinu širine */
}
.container-card{
  text-align: center; /* Centriranje sadržaja unutar kartica */
}
.container-card h3{
  padding: 10px 0; /* Padding oko naslova kartice */
}
.container-card img{
  width: 70%; /* Slika u kartici zauzima 70% širine kartice */
  padding-bottom: 10px; /* Padding na dnu slike */
}
.container-card p{
  width: 70%; /* Širina teksta je 70% širine kartice */
  margin: 0 auto 10px; /* Centriranje teksta i dodavanje margine na dnu */
}
.btn {
  display: inline-block; /* Dugme se ponaša kao inline blok */
  background-color: #726c6c; /* Pozadina dugmeta je tamna */
  padding: 10px 30px; /* Padding oko teksta dugmeta */
  border-radius: 5px; /* Zaobljeni ivice dugmeta */
  text-align: center; /* Tekst u dugmetu je centriran */
  color: #fff; /* Tekst dugmeta je beo */
  transition: background-color 0.5s, color 0.5s; /* Efekat prelaza pri promeni boje */
  text-align: center;
  border: 1px #333 solid;
}
.btn:hover {
  color: #000; /* Tekst postaje crn kada se prelazi mišem preko dugmeta */
  background-color: transparent; /* Pozadina postaje providna */
}

/* container-brewing-steps - Koraci za pripremu sa slikama */
.container-brewing-steps{
  width: 100%; /* Širina sekcije je 100% */
}

/* CSS .container sam povukao iz HELPERS-a */

.container-brewing-steps .container .left,
.container-brewing-steps .container .right{
  float: left; /* Elementi unutar sekcije su raspoređeni horizontalno */
  width: 50%; /* Svaka polovina sekcije zauzima 48% širine, ostavlja razmak između njih */
}
.container-brewing-steps .container h2{
  text-align: center; /* Centriranje naslova */
  font-size: 30px; /* Veličina fonta za naslov */
  padding: 20px 0; /* Padding oko naslova */
}
.container-brewing-steps .container .left{
  position: relative;
  height: 400px;
}
.container-brewing-steps  .container .left ul{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container-brewing-steps  .container .left ul li{
  padding: 2px 0;
}
.container-brewing-steps .container .left h3{
  padding-top: 40px;
}
.container-brewing-steps .container .right{
  position: relative;
  height: 400px;
}
.container-brewing-steps .container .right img{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* container-form - Sekcija za formu */
.container-form{
  width: 100%; /* Širina sekcije je 100% */
}

/* CSS .container sam povukao iz HELPERS-a */

.container-form .container h2{
  text-align: center; /* Centriranje naslova */
  font-size: 30px; /* Veličina fonta za naslov */
  padding: 20px 0; /* Padding oko naslova */
}

.container-form .container .left,
.container-form .container .right{
  float: left; /* Elementi unutar sekcije su raspoređeni horizontalno*/
  width: 50%;
   /* Svaka polovina sekcije zauzima 50%*/
}
.container-form .container .left {
  position: relative;
  height: 400px;
}
.container-form .container .left img{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container-form .container .right {
  position: relative;
  height: 400px;
}
.container-form .container .right form{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container-form .container .right form input,
.container-form .container .right form textarea{
  width: 100%;
  height: 40px;
}
.container-form .container .right form  [type="reset"],
.container-form .container .right form  [type="submit"] {
  display: inline;
  width: 40%;
  margin-top: 10px;
}
/* Footer */
.footer {
  width: 100%;
}
.footer .footer-container{
  width: 100%;
  margin: 0 auto;
  background-color: black;
}
.footer .footer-container article{
  width: 25%;
  float: left;
}
.footer .footer-container .footer-logo{
  position: relative;
  height: 150px;
}
.footer .footer-container .footer-logo a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.footer .footer-container .footer-logo a span{
 color: red;
}
.footer .footer-container .footer-nav{
  position: relative;
  height: 150px;
 
}
.footer .footer-container .footer-nav ul{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer .footer-container .footer-nav ul li a{
  color: white;
}
.footer .footer-container .footer-nav ul li a:hover{
  color: red;
}
.footer .footer-container .footer-userful-link{
  height: 150px;
  text-align: center;
  margin-top: 30px;
  margin-left: -30px;
}
.footer .footer-container .footer-userful-link a{
  color: white;
  text-decoration: none;
}
.footer .footer-container .footer-userful-link a:hover{
  color: red;
}
/* .footer .footer-container .footer-userful-link ul{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
} */

.footer .footer-container .footer-contact-info{
  height: 150px;
  text-align: center;
  margin-top: 30px;
  color: white;
  margin-left: -10px;
}
.footer .footer-container .footer-contact-info a{
  color: white;
  text-decoration: none;
}
.footer .footer-container .footer-contact-info a:hover{
  color: red;
}
.footer .dev-info{
  text-align: center;
  background-color: black;
}
.footer .dev-info p{
  color: #333;
}
.footer .dev-info p span{
  color: red;
}
/* ******************************************** */
/* Helpers - Pomoćni stilovi */
/* ******************************************** */
/* container */
.container{
  width: 95%; /* Širina kontejnera je 95% */
  margin: 0 auto; /* Centriranje kontejnera */
  padding: 20px; /* Padding unutar kontejnera */
  background-color: rgba(255, 228, 196,0.6); /* Pozadina kontejnera je svetlo bež */
  
  text-align: center; /* Tekst u kontejneru je centriran */
  border: 2px solid #333;
  margin-bottom: 2px;
  
}

.clear-fix{
  clear: both; /* Oslobađa prostor oko plivajućih elemenata */
}

.ul-reset{
  list-style: none; /* Uklanja oznake liste */
}
.a-reset{
  text-decoration: none
}